<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<appSettings>
		<add key=""/>
		<add key="BusinessEntity" value="CGH"/>
		<add key="ServerApplicationID" value="MyApplicationServerR1V2"/>
		<add key="ApplicationID" value="PRDG11HISV07WD"/>
		<add key="UserName" value="ADMIN"/>
		<add key="LOG_ENABLED_FLAG" value="Y"/>
		<add key="stringLocalIPAddress" value="10.118.104.8"/>
		<add key="stringISPIPAddress" value="10.118.104.8"/>
		<add key="ExportPath" value="D:\GS_TFS\G11EOSWB\UAT\R1V1-V001\G11EOSWB\PRDG11EOSV03WB\Export"/>
		<add key="AttachmentPath" value="D:\GS_TFS\G11EOSWB\UAT\R1V1-V001\G11EOSWB\PRDG11EOSV03WB\Attachment"/>
		<add key="AttachementFilter" value=".jpg|.gif|.jpeg"/>
		<add key="gridviewpagesize" value="5"/>
		<add key="OrderUploadgridviewpagesize" value="10"/>
		<add key="userhistorygridviewpagesize" value="15"/>
		<add key="Orderhistorygridviewpagesize" value="20"/>
		<add key="OrderListgridviewpagesize" value="10"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
		<add key="CalendarDateFormat" value="dd-MM-yyyy"/>
		<add key="Password" value="G11PORTAL123"/>
		<add key="Portalsource" value="WEB PORTAL"/>
		<add key="copyright" value="Copyright © 2012 Gurusoft Pte Ltd. All rights reserved."/>
		<add key="ServerCertificateKey" value="Y"/>
		<add key="SSLDomainName" value="gsivm-svr-devscm.gurusoft.dev"/>
		<add key="Ordertrackinggridviewpagesize" value="10"/>
		<add key="MaintenancePageFlag" value="N"/>
		<!--If 'Y' means login page redirect to MaintenancePage-->
		<add key="BUSSINESS_ENTITY" value="IHIS"/>
		<add key="APPLICATION_ACCESS" value="PRDG11HISV07WD"/>
		<add key="ACCESS_USER" value="MUTHU,ANNA"/>
		<!--for roles inst admin  field readonly for particular pesons-->
		<add key="INSTITUTION_ADMIN" value="INSTITUTION ADMIN"/>
		<!--for roles inst admin  field readonly-->
		<add key="SUPER_USER" value="SUPER USER"/>
		<!--for roles SUPER user  field readonly-->
		<add key="userhistoryPopupPaging" value="10"/>
		<add key="LogPath" value="D:\Gurusoft\Server\Logs"/>
		<add key="PROJECTNAME" value="CLUSTER"/>
		<add key="ENABLEAUDITLOG" value="Y"/>
		

		<add key="CollaborationService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWCollaborationService/Service.svc/basic"/>
		<add key="AuditTrialService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWAuditTrialService/Service.svc/basic"/>
		<add key="AdminService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWAdminService/Service.svc/basic"/>
		<add key="SelectionService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWSelectionService/Service.svc/basic"/>
		<add key="BusinessServices" value="https://gsivm-svr-devscm.gurusoft.dev:9507/GsXMLASBusinessServices/Service1.svc/basic"/>
		<add key="CGHMRTSService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWMRTSService/Service.svc/basic"/>
		<add key="MRTSListService" value="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWMRTSListService/Service.svc/basic"/>

	</appSettings>

	<system.web>
		<httpCookies httpOnlyCookies="true"/>
		<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>
		<pages>
			<controls>
				<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
			</controls>
		</pages>
		<customErrors mode="RemoteOnly"/>
	</system.web>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ICollaborationService" closeTimeout="10:01:00"
				  openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
				  messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IAuditTrialService" closeTimeout="10:01:00"
				  openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
				  messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IAdminService" closeTimeout="10:01:00"
				  openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
				  messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_ISelectionService" closeTimeout="10:01:00"
				  openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
				  messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IService1" closeTimeout="10:01:00"
				  openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
				  textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
				  messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_ISelectionService1" closeTimeout="10:01:00"
		   openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
		   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
		   maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
		   textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
		   messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>

				<binding name="BasicHttpBinding_IMRTSService" closeTimeout="10:01:00"
		   openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
		   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
		   maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
		   textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
		   messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IMRTSListService" closeTimeout="10:01:00"
		   openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"
		   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
		   maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
		   textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
		   messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />

				</binding>

			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWCollaborationService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollaborationService"
			  contract="G11CollaborationService.ICollaborationService" name="BasicHttpBinding_ICollaborationService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWAuditTrialService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditTrialService"
			  contract="G11EISMWAuditTrialService.IAuditTrialService" name="BasicHttpBinding_IAuditTrialService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWAdminService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
			  contract="GSG11EISMWAdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/GsXMLASBusinessServices/Service1.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
			  contract="GSXMLASBusinessServices.IService1" name="BasicHttpBinding_IService1" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWSelectionService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISelectionService"
			  contract="G11EISMWSelectionService.ISelectionService" name="BasicHttpBinding_ISelectionService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWMRTSService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMRTSService"
			  contract="GSMRTSService.IMRTSService" name="BasicHttpBinding_IMRTSService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9507/PRDG11EISMWMRTSListService/Service.svc/basic"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMRTSListService"
			  contract="GSMRTSListService.IMRTSListService" name="BasicHttpBinding_IMRTSListService" />
		</client>


	</system.serviceModel>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>

</configuration>